<div class="row text-center footer">
	<a href="https://www.theinformation.com">
		<%= image_tag('the_information_logo.png', :class => "footerLogo") %>
        <!-- <img class="footerLogo" alt="Brand_logo" src="https://dmxvlyap9srmn.cloudfront.net/production/articles/129/large_large_large_theinformation.png"> -->
    </a>
    <p class="footer-text">The Information writes deeply-reported articles about the technology industry you won't find elsewhere.</p>
</div>

