<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid navbar-align">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://www.theinformation.com">
        <img class="theInformationLogo" alt="Brand_logo" src="https://www.theinformation.com/images/the-information-logo.svg">
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://www.theinformation.com/topics">Research Topics</a></li>
        <li><a href="https://www.theinformation.com/about">About</a></li>
        <li><a href="https://www.theinformation.com/contributors">Our Subscribers</a></li>  
        <li>
          <form class="navbar-form navbar-right">
            <button type="submit" class="btn btn-default search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </form>
        </li>
      </ul>      
    </div>
  </div>
</nav>

