<div class="row">
  <h2>Profile</h2>
  <hr class="line">
    <div class="row">  
      <p class="block-title">USER INFORMATION</p>
      <div class="col-lg-12 text-center">
        <h4>Email</h4>
        <textarea class="textField textarea"><%= @user.email %></textarea>
      </div>
    </div>
</div>
<br><br><br><br><br>